NET "start"  LOC = "L13";
NET "clk" LOC = "C9";
NET "done" LOC = "F12";
NET "locked_out" LOC = "E12";
NET "data<0>" LOC = "B4";
NET "data<1>" LOC = "A4";
NET "data<2>" LOC = "D5";
NET "data<3>" LOC = "C5";
NET "data<4>" LOC = "A6";
NET "data<5>" LOC = "B6";
NET "data<6>" LOC = "E7";
NET "data<7>" LOC = "F7";
NET "data<8>" LOC = "D7";
NET "data<9>" LOC = "C7";
NET "data<10>" LOC = "F8";
NET "data<11>" LOC = "E8";
NET "data<12>" LOC = "A13";
NET "data<13>" LOC = "B13";
NET "data<14>" LOC = "A14";
NET "data<15>" LOC = "B14";

NET "output_value_re<0>" LOC = "C14";
NET "output_value_re<1>" LOC = "D14";
NET "output_value_re<2>" LOC = "A16";
NET "output_value_re<3>" LOC = "B16";
NET "output_value_re<4>" LOC = "E13";
NET "output_value_re<5>" LOC = "C4";
NET "output_value_re<6>" LOC = "B11";
NET "output_value_re<7>" LOC = "A11";
NET "output_value_re<8>" LOC = "A8";
NET "output_value_re<9>" LOC = "G9";
NET "output_value_re<10>" LOC = "D12";
NET "output_value_re<11>" LOC = "C12";
NET "output_value_re<12>" LOC = "A15";
NET "output_value_re<13>" LOC = "B15";
NET "output_value_re<14>" LOC = "C3";
NET "output_value_re<15>" LOC = "C15";