//! **************************************************************************
// Written by: Map P.20131013 on Mon Jan 23 10:09:10 2017
//! **************************************************************************

SCHEMATIC START;
COMP "switches<0>" LOCATE = SITE "L13" LEVEL 1;
COMP "switches<1>" LOCATE = SITE "L14" LEVEL 1;
COMP "switches<2>" LOCATE = SITE "H18" LEVEL 1;
COMP "switches<3>" LOCATE = SITE "N17" LEVEL 1;
COMP "leds<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "leds<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "leds<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "leds<3>" LOCATE = SITE "F11" LEVEL 1;
SCHEMATIC END;

